@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
    --primary-color: #6ccacb;
    --secondary-color: #000;
    --danger-color: #dc3545;
    --background-color: #fff;
    --filter-bg-color: #2e3241;
    --filter-bg-color-light: #f8f9fa;
}

/* body.night{
    --primary-color: #6ccacb;
    --secondary-color: #ffffff;
    --danger-color: #dc3545;
    --background-color: #191d28;
    --filter-bg-color: #eef5fc;
    --filter-bg-color-light: #eef5fc;
} */

body{
    font-family: 'Poppins', sans-serif;
    background: var(--background-color);
    color: var(--secondary-color);
}

header{
    background: var(--background-color);
}

.browser-css ul li{
    list-style: disc;
    margin-left: 30px;
}
.browser-css table tr td{
    border: 1px solid black;
    padding: 5px;
    text-align: center;
}
.browser-css h1, h2, h3{
    font-weight: 600;
    margin-bottom: 15px;
}
.browser-css h1{
    font-size: 30px;
}
.browser-css h2{
    font-size: 24px;
}
.browser-css h3{
    font-size: 20px;
    font-weight: 500;
}
.browser-css p{
    font-size: 18px;
}

.post-floating-bar {
    bottom: -60px;
}

.post-floating-bar.freeze {
    bottom: 0 !important;
    position: absolute!important;
    transition: none!important;
}
.post-floating-bar.active {
    bottom: 40px;
}

/* toast message  */
.toast-message-animate-in {
    animation: animate-in 0.5s ease-out;
  }
  
.toast-message-animate-out {
    animation: animate-out 0.5s ease-out;
}
  
@keyframes animate-in {
    0% {
        transform: translateX(100%);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}
  
@keyframes animate-out {
    0% {
        transform: translateX(0);
        opacity: 1;
    }
    100% {
        transform: translateX(100%);
        opacity: 0;
    }
}
  